<div *ngIf="isLoading$ | async">Loading...</div>

<div *ngIf="error$ | async as error">{{ error }}</div>

<div class="container">
  <div class="d-flex justify-content-between p-3">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="PaginatePrev()"
    >
      Prev
    </button>
    <div>
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-outline-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Select Category
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                select the type of the photos,
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-primary dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Select Type
                  </button>
                  <ul class="dropdown-menu">
                    <div *ngFor="let category of categories">
                      <li
                        class="dropdown-item"
                        data-bs-dismiss="modal"
                        (click)="fetchByCategory(category)"
                      >
                        {{ category }}
                      </li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="PaginateNext()"
    >
      Next
    </button>
  </div>

  <app-image-grid [images]="images"></app-image-grid>
</div>
